<body style="overflow: scroll;">
<div *ngIf="events.length > 0">
  <h2>Events you're hosting</h2>
  <mat-divider></mat-divider>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div *ngIf="events.length === 0">
    <!--<img src="assets/sad_emoji.png" align="center">-->
    <h3>You're not hosting any events</h3>
  </div>
  <div *ngFor="let event of events">
          <mat-card (click) = "eventDetail(event)">
            <mat-card-content>
              <div *ngIf="event.placeholderImage !== null">
                <img mat-card-image src="{{event.placeholderImage.url}}">
                <mat-divider></mat-divider>
              </div>
              <div *ngIf="event.placeholderImage == null">
                <img mat-card-image src="assets/placeholder.png">
                <mat-divider></mat-divider>
              </div>
            </mat-card-content>
            <mat-card-footer>
              <div fxLayout="column" style="margin-top: 2vh">
                <div id="eventText" style="text-align: center; font-size: 20px">
                  {{event.eventName.substring(0,15)}}
                </div>
                <div style="text-align: center; font-size: 15px">
                  {{getDate(event.startTime)[1]}} {{getDate(event.startTime)[2]}}
                </div>
              </div>
            </mat-card-footer>
          </mat-card>
  </div>
</div>
</body>
