<body style="margin-top: 10vh" xmlns="http://www.w3.org/1999/html">
<div id="main" *ngIf="feeSeen" >
  <form #checkout="ngForm" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>

    <button class="row" type="submit" mat-button (click)="buy()">Pay</button>
  </form>

  <div id="breakdown" class="breakdown-row">
    <h3>Breakdown</h3>
    <div class="row">
      <div class="col-8">Ticket Fee</div>
      <div>${{ticketData.ticketFee.toFixed(2)}}</div>
    </div>
    <div class="row">
      <div class="col-8">Service Fee</div>
      <div>${{serviceFee.toFixed(2)}}</div>
    </div>
    <div class="row">
      <div class="col-8">Payment Fee</div>
      <div>${{paymentFee.toFixed(2)}}</div>
    </div>
    <div class="row">
      <div class="col-8">Total</div>
      <div>${{total.toFixed(2)}}</div>
    </div>
  </div>
</div>
</body>
