mat-card{
    margin-top: 20vh;
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#D4262F;
    color: white ;
}

.example-full-width {
    width: 100%;
  }

#marginContent{
    margin-top: 5vh;
}

input{
  color: white;
}
