<div id="marginTop" style="overflow-x: hidden">
  <div fxLayout="row" fxLayoutAlign="center center">
      <img id="imageSignUp" src="../../assets/EmojiOne_3.1.1_128x128_png/1f468-1f3fc-1f527.png">
  </div>
  <h1>You're one step closer to awesome events</h1>
  <p id="subTextSignup">Sign up or login using one of the methods below</p>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="mdc-text-field mdc-text-field--outlined emailt">
      <input type="text" id="tf-outlined" class="mdc-text-field__input" [value]="email"
             (input) = "email = $event.target.value">
      <label for="tf-outlined" class="mdc-floating-label">Email</label>
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 1vh">
    <div class="mdc-text-field mdc-text-field--outlined passt">
      <input type="text" id="tf-outlined" class="mdc-text-field__input" type="password" [value] = "pass"
             (input) = "pass = $event.target.value">
      <label for="tf-outlined" class="mdc-floating-label">Password</label>
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 1vh">
    <button style="background-color: #D4262F; color: white; margin-top: 1vh" mat-flat-button (click) = "SignIn()">
      <img id="iconSizeSocial" src="../../assets/app_icon.svg"> Sign In</button>
  </div>
  <div>
    <h2 style="font-family: Roboto; text-align: center">Or</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 1vh">
    <button id="socialButtons" mat-flat-button (click) = "signInFacebook()" color="primary"><img id="iconSizeSocial" src="https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/uPlIYLfynqH.png">Facebook Sign in</button>
    <button id="socialButtonsG" mat-raised-button (click) = "signInGoogle()"><img id="iconSizeSocial" src="../../assets/icons8-google.svg">Google Sign in</button>
  </div>
</div>
