.example-full-width {
    width: 100%;
  }

#marginContent{
    margin-top: 5vh;
}

input{
  color: white;
}

@media (min-width: 320px) and (max-width: 575.98px) {
  mat-card{
    margin-top: 5vh;
    height: 100%;
    width: 100%;
    background-color:#D4262F;
    color: white ;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  mat-card{
    margin-top: 20vh;
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#D4262F;
    color: white ;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  mat-card{
    margin-top: 20vh;
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#D4262F;
    color: white ;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  mat-card{
    margin-top: 20vh;
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#D4262F;
    color: white ;
  }
}

@media (min-width: 1200px) {
  mat-card{
    margin-top: 20vh;
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color:#D4262F;
    color: white ;
  }
}
