<div style="margin-top: 10vh">
  <h1 style="text-align: center; font-family: Roboto">Select your Interests</h1>
  <mat-selection-list #unis>
    <mat-list-option *ngFor="let uni of universities" [value]="uni">
      {{uni}}
    </mat-list-option>
  </mat-selection-list>

  <p>
    Options selected: {{unis.selectedOptions.selected.length}}
  </p>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button style="background-color: #D4262F"
            (click)="addUni(unis.selectedOptions.selected)">Done</button>
  </div>
</div>
