.scanner {
  width: 100%;
}

mat-select {
  background: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

mat-option {
  color: black;
}

.ticketMessage {
  vertical-align: center;
}

