<body *ngIf="formCreated" style="margin-top: 10vh">
<form [formGroup]="form">
  <div><h2>Tickets</h2></div>
  <div class="row" *ngFor="let ticket of event.tickets; index as i">
    <mat-card *ngIf="ticket.visible" class="main col-12" >
        <div class="col-8">
          <div>
            {{ticket.name}}
          </div>
          <div>
            {{quantityLeft(ticket)}} tickets left
          </div>
          <div>
            ${{ticket.price}}
          </div>
        </div>
        <div class="col-4">
          <mat-form-field class="quantity" *ngIf="!isSoldOut(ticket)">
            <input matInput id="{{i}}" formControlName="{{i}}" maxlength="2" size="2"
                   placeholder="Enter quantity (0-10)" class="quantity" value="{{getLastValue(i)}}">
            <mat-error *ngFor="let validation of validationMessages">
              <mat-error class="error-message" *ngIf="hasError(getId(i), validation)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <p *ngIf="isSoldOut(ticket)">Sold out!</p>
        </div>
    </mat-card>
  </div>
</form>
<button class="row" mat-button (click)="ticketRoute()">GET TICKET</button>
</body>
