mat-toolbar{
  background-color:#D4262F;
  color: white;
}

#showSignIn{
  visibility: visible;
}

img{
  height: 7vh;
  width: 7vh;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.material-icons{
  position: relative;
  top: 5px;
  left: 5px;
  margin-right: 2vh
}

#iconD{
  position: relative;
  top: 0px;
  left: 5px;
  margin-right: 2vh
}


@media (min-width: 320px) and (max-width: 575.98px) {
  #navBD{
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #navBD{
    display:  none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #navBD{
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #navBM{
    display: none;
  }
}

@media (min-width: 1200px) {
  #navBM{
    display: none;
  }
}

#signOut{
  display: none;
}
