<mat-card id="matcard2">
    <mat-card-content style="margin-left: 2vh">
        <p id="happening">Here's what's happening in</p>
        <mat-form-field id="happening2">
            <mat-select placeholder="Select your University">
              <mat-option *ngFor="let university of universities" [value]="university" (onSelectionChange)="filterUni()">
                {{university}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card-content>
  </mat-card>

<mat-tab-group>
    <mat-tab label="Events"><app-event></app-event></mat-tab>
    <mat-tab label="Search"><app-search></app-search></mat-tab>
    <mat-tab *ngIf="userExists === true" label="Tickets"></mat-tab>
    <mat-tab label="Hosting"><app-hosting></app-hosting></mat-tab>
  </mat-tab-group>

