#matcard2{
    margin-top: 15vh;
    height: 22vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    /*background-color: #f3dc50;*/
    background-color: #D4262F;
  }

  @media (min-width: 320px) and (max-width: 575.98px) {
    #happening{
      color: white; font-size: 1.5em
    }
  
    #happening2{
      font-size: 1.2em;
      width: 70%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    #happening{
      color: white; font-size: 1.5em
    }
  
    #happening2{
      font-size: 1.2em;
      width: 60%;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    #happening{
      color: white; font-size: 1.5em
    }
  
    #happening2{
      font-size: 1.2em;
      width: 50%;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #happening{
      color: white; font-size: 1.5em
    }
  
    #happening2{
      font-size: 1.2em;
      width: 40%;
    }
  }
  
  @media (min-width: 1200px) {
    #happening{
      color: white; font-size: 2em
    }
  
    #happening2{
      font-size: 1.5em;
      width: 20%;
    }
  }

.mdc-floating-label{
  color: red !important;
  font-size: 20px;
}

label{
  color: red;
}
