<div style="margin-top: 10vh">
  <h1 style="text-align: center; font-family: Roboto">Select your Interests (This determines the events you see)</h1>
  <mat-selection-list #interests>
    <div *ngFor="let event of eventTypes">
      <div *ngIf="event !== 'Frosh'">

        <mat-list-option [value]="event">
          {{event}}
        </mat-list-option>
      </div>
      <div *ngIf="event === 'Frosh'">
        <div *ngFor="let group of groups" >
          <mat-list-option [value]="event" *ngIf="group.idList.includes(studentId) === true">
            {{event}}
          </mat-list-option>
      </div>
      </div>
    </div>
  </mat-selection-list>
  <div *ngIf="isFreshMan" style="color: red; margin: 5px">
    Don't miss out on Frosh week events! Please select the frosh option if you want to have some fun.
  </div>
  <!--<div *ngFor="let group of groups" >-->
    <!--<mat-selection-list #interestGroup *ngIf="group.idList.includes(studentId) === true">-->
      <!--<mat-list-option [value]="group">-->
        <!--{{group.eventType}}-->
      <!--</mat-list-option>-->
    <!--</mat-selection-list>-->
  <!--</div>-->
  <p>
    Options selected: {{interests.selectedOptions.selected.length}}
  </p>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button style="background-color: #D4262F"
            (click)="addInterests(interests.selectedOptions.selected)">Next</button>
  </div>
</div>
