 <body style="overflow: scroll;">
  <div fxLayout="column">
    <div *ngFor="let event of allEvents | async">
      <div *ngIf="event.events.length > 0">
        <h1 style="text-align: center">{{event.sectionName}}</h1>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div *ngFor="let event1 of event.events">
            <mat-card (click) = "eventDetail(event1)">
                <div *ngIf="event1.placeHolderImage != null">
                  <img style="border-radius: 15px" mat-card-image src="{{event1.placeHolderImage.url}}">
                  <mat-divider></mat-divider>
                </div>
                <div *ngIf="event1.placeHolderImage == null">
                  <img style="border-radius: 15px" mat-card-image src="assets/placeholder.png">
                  <mat-divider></mat-divider>
                </div>
              <mat-card-footer>
                  <div fxLayout="column" style="margin-top: 2vh">
                    <div id="eventText" style="text-align: center; font-size: 20px">
                      {{event1.eventName.substring(0,15)}}
                    </div>
                    <div style="text-align: center; font-size: 15px">
                      {{getDate(event1.startTime)[1]}} {{getDate(event1.startTime)[2]}}
                    </div>
                  </div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
