#marginTop{
  margin-top: 10vh;
  margin-bottom: 15vh;
}

#cbiconsize{
  height: 30vh;
  width: 30vw;
}

#apicon{
  height: 18vh;
  width: 22vw;
  margin-top: 10vh;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .store-image {
    width: 100%;
  }
}
