<aside id="my-mdc-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="my-mdc-dialog-label" aria-describedby="my-mdc-dialog-description">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title" style="font-family: Roboto">
        Add Tickets
        <mat-divider></mat-divider>
      </h2>
    </header>
    <section id="my-mdc-dialog-description" class="mdc-dialog__body">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="mdc-text-field mdc-text-field--outlined ticketname">
          <input type="text" id="tf-outlined" class="mdc-text-field__input">
          <label for="tf-outlined" class="mdc-floating-label">Enter ticket name</label>
          <div class="mdc-notched-outline">
            <svg>
              <path class="mdc-notched-outline__path"/>
            </svg>
          </div>
          <div class="mdc-notched-outline__idle"></div>
        </div>
        <div class="mdc-text-field mdc-text-field--outlined ticketdescription">
          <input type="text" id="tf-outlined" class="mdc-text-field__input">
          <label for="tf-outlined" class="mdc-floating-label">Enter ticket description</label>
          <div class="mdc-notched-outline">
            <svg>
              <path class="mdc-notched-outline__path"/>
            </svg>
          </div>
          <div class="mdc-notched-outline__idle"></div>
        </div>
        <div class="mdc-text-field mdc-text-field--outlined ticketquantity">
          <input type="number" id="tf-outlined" class="mdc-text-field__input">
          <label for="tf-outlined" class="mdc-floating-label">Enter ticket quantity</label>
          <div class="mdc-notched-outline">
            <svg>
              <path class="mdc-notched-outline__path"/>
            </svg>
          </div>
          <div class="mdc-notched-outline__idle"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox style="margin-right: 2vh" [(ngModel)] = "checkedFree" (change)="onSelected()">Free</mat-checkbox>
          <mat-checkbox style="margin-right: 2vh" [(ngModel)] = "checkedPaid" (change)="onSelected()">Paid</mat-checkbox>
        </div>
        <div id="ticketPaidPrice" class="mdc-text-field mdc-text-field--outlined ticketpaidp">
          <input type="number" id="tf-outlined" class="mdc-text-field__input">
          <label for="tf-outlined" class="mdc-floating-label">Enter ticket Price</label>
          <div class="mdc-notched-outline">
            <svg>
              <path class="mdc-notched-outline__path"/>
            </svg>
          </div>
          <div class="mdc-notched-outline__idle"></div>
        </div>
      </div>
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" style="color: red" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Close</button>
      <button type="button" style="color: red;" (click) = "addTicket()" class="mdc-button mdc-dialog__footer__button">Add</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>


<div id="marginCardTop" style="overflow-x: hidden">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="mdc-text-field mdc-text-field--outlined name">
      <input type="text" id="tf-outlined" class="mdc-text-field__input" [value]="eventName"
             (input) = "eventName = $event.target.value">
      <label for="tf-outlined" class="mdc-floating-label">What are we calling this?</label>
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>

    <div class="mdc-text-field mdc-text-field--outlined description">
      <input type="text" id="tf-outlined" class="mdc-text-field__input" [value]="eventDescription"
             (input) = "eventDescription = $event.target.value">
      <label for="tf-outlined" class="mdc-floating-label">Give us a short description</label>
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>

    <div class="mdc-select">
      <select class="mdc-select__native-control">
        <option value="" disabled selected></option>
        <option *ngFor="let eventType of eventTypes" value="{{eventType}}">
          {{eventType}}
        </option>
      </select>
      <label class="mdc-floating-label">Type of event</label>
      <div class="mdc-line-ripple"></div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="full-widthdate" id="happening2">
      <input matInput [matDatepicker]="picker" placeholder="When does it start?" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-widthdate" id="happening2">
      <mat-select placeholder="Time">
        <!--<mat-option *ngFor="let food of foods" [value]="food.value">-->
          <!--{{food.viewValue}}-->
        <!--</mat-option>-->
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="full-widthdate" id="happening2">
      <input matInput [matDatepicker]="picker2" placeholder="When does it end?" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-widthdate" id="happening2">
      <mat-select placeholder="Time">
        <!--<mat-option *ngFor="let food of foods" [value]="food.value">-->
          <!--{{food.viewValue}}-->
        <!--</mat-option>-->
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="mdc-text-field mdc-text-field--outlined where">
      <input type="text" id="searchbox" class="mdc-text-field__input whereauto" [value]="eventAddress"
             (input) = "eventAddress = $event.target.value">
      <!--<label for="tf-outlined" class="mdc-floating-label">Where is it happening?</label>-->
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button style="background-color: #D4262F" mat-flat-button (click) = "openTicketDialog()" color="primary">ADD TICKETS</button>
    <button style="background-color: #D4262F" mat-flat-button (click) = "uploadEvent()" color="primary">Add Event</button>
  </div>
  <!--<div fxLayout="row" fxLayoutAlign="center center">-->
    <!--<button mat-fab color="primary"><i class="material-icons">check</i></button>-->
  <!--</div>-->
</div>


