<!--<mat-card>
  <mat-card-header>
    CampusBash Signup
  </mat-card-header>-->
  <!--<mat-card-content id="marginContent">-->
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Info</ng-template>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [value]="email"
                   (input) = "email = $event.target.value" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" [value] = "pass"
                   (input) = "pass = $event.target.value" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>More info</ng-template>
          <mat-form-field>
            <mat-select [(value)]="countrySelected" formControlName="secondCtrl">
              <mat-option>None</mat-option>
              <mat-option value="option1">Canada</mat-option>
              <mat-option value="option2"></mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
          <mat-select [(value)]="universitySelected" formControlName="secondCtrl">
            <mat-option>None</mat-option>
            <mat-option value="option1">University of Ottawa</mat-option>
            <mat-option value="option2">Carleton University</mat-option>
          </mat-select>
        </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="signUp()">Signup</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  <!--</mat-card-content>
  <!--<button mat-button (click) = "SignIn()">Sign In</button>-->
<!--</mat-card>-->

