.example-full-width{
    width: 100%
}

mat-chip-list{
    width: 100%
}

.main {
  margin: 2vh;
  height: 20vh;
  width: 28vh;

}

.placeholder {
  height: 120px;
  /*width: 100%;*/
}

.no-tickets {
  text-align: center;
}

