<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Search..."></textarea>
  </mat-form-field>

<div style="overflow: hidden;">
    <mat-chip-list>
        <mat-chip>Today</mat-chip>
        <mat-chip>Tomorrow</mat-chip>
        <mat-chip>The weekend</mat-chip>
        <mat-chip>Pick a date</mat-chip>
      </mat-chip-list>
  
      <mat-chip-list>
          <mat-chip>House Party</mat-chip>
          <mat-chip>Pool Party</mat-chip>
          <mat-chip>Kegger</mat-chip>
          <mat-chip>Sports Party</mat-chip>
          <mat-chip>Conference</mat-chip>
          <mat-chip>Festival</mat-chip>
          <mat-chip>Concert or Performance</mat-chip>
          <mat-chip>Tournament</mat-chip>
          <mat-chip>Networking</mat-chip>
          <mat-chip>Seminar or Talk</mat-chip>
        </mat-chip-list>
      <mat-divider style="margin-top: 2vh"></mat-divider>
</div>