<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Search..." (input)="searchChanged($event.target.value)"></textarea>
  </mat-form-field>

<div style="overflow: hidden;">
  <mat-chip-list>
    <mat-chip *ngFor="let date of dates" [selectable]="true" (click)="dateChipChanged(date)">{{date}}</mat-chip>
  </mat-chip-list>
  <mat-calendar *ngIf="showPicker" (selectedChange)="dateChanged($event)"></mat-calendar>
  <mat-divider style="margin-top: 2vh"></mat-divider>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let event of events">
      <mat-card *ngIf="shouldShow(event)" (click)="eventClicked(event)" class="main">
        <div *ngIf="event.placeholderImage != null">
          <img  style="border-radius: 15px" class="placeholder" src="{{event.placeholderImage.url}}" mat-card-image>
        </div>
        <div *ngIf="event.placeholderImage == null">
          <img class="placeholder" src="assets/default_event_background.png" mat-card-image>
        </div>
        <div>{{event.eventName}}</div>
        <div>Starts on {{getDate(event.startTime)}}</div>
      </mat-card>
    </div>
  </div>
  <div style="text-align: center" *ngIf="events.length === 0">No events found</div>
</div>
